  
@import url('https://fonts.googleapis.com/css2?family=Inter%3Awght%40400%3B500%3B600%3B700%3B800&display=swap&ver=5.8');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  width: 140px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.align-left {
  float:left;
}

h3 {
  float:right;
}

/* .gradient-text {
  background: -webkit-linear-gradient(#8479FF, #C68A30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */